<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:insert="templateforall :: head"></head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header th:insert="templateforall :: header"></header>
<!-- Header section end -->


<!-- Page info section -->
<section class="page-top-info-my-account set-bg" data-setbg="img/page-top-bg/2.jpg"></section>
<!-- Page info section end -->


<!-- Menu section -->
<section class="mp-menu-section spad">
    <div class="container">
        <div class="section-title">
            <i class="flaticon-022-tray"></i>
            <h2>My Account</h2>
        </div>
        <ul class="mp-menu-tab-nav nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
                    <div class="mpm-text">
                        <h5>Account</h5>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
                    <div class="mpm-text">
                        <h5>History</h5>
                    </div>
                </a>
            </li>
        </ul>
        <div class="tab-content menu-tab-content">
            <!-- single tab content -->
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                <div class="row menu-dark">
                    <form method="post">
                        <input type="text" name = "email" th:value="${client.email}"/>
                        <input type="text" name = "password" th:value="${client.psswrd}"/><br>
                        <input type="text" name = "city" th:value="${client.fk_address.city}"/>
                        <input type="text" name = "street" th:value="${client.fk_address.street}"/>
                        <input type="text" name = "house" th:value="${client.fk_address.house}"/>
                        <input type="text" name = "flat" th:value="${client.fk_address.flat}"/><br>
                        <button type="submit">Изменить</button>
                        <input type="hidden" name = "type" value="edit"/>
                    </form>
                </div>
            </div>
            <!-- single tab content -->
            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                <div class="row menu-dark">
                    <div class="menu-item" th:each="order : ${orders}">
                        <div class="addbutton">
                            <h5 th:each="meal : ${ordersMap.get(order.order_id)}" th:text="${meal.key + ' x ' + meal.value}"/>
                        </div>
                        <div class="mi-meta">
                            <div class="menu-price" th:text="${' ' + order.price + ' ₽'}"/>
                        </div>
                    </div>
<!--                    <div class="menu-item" th:each="order : ${orders}">-->
<!--                        <div class="addbutton">-->
<!--                            <h5>Pizza</h5>-->
<!--                        </div>-->
<!--                        <div class="mi-meta">-->
<!--                            <p>From Italia asdasd</p>-->
<!--                            <div class="menu-price">900.0 ₽</div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Menu section end -->


<!-- Menu section -->

<!-- Menu section end -->


<!-- Featured sectoon -->

<!-- Featured sectoon end -->


<!-- Footer section -->
<footer th:insert="templateforall :: footer"></footer>
<!-- Footer section end -->
<script>
    function sbmt(id) {
        console.log("'" + toString(id) + "'")
        document.getElementById("'" + id + "'").submit();
    }
</script>
<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/circle-progress.min.js"></script>
<script src="js/main.js"></script>


<!-- load for map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
<script src="js/map.js"></script>

</body>
</html>