<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="description" content="Pulse Restaurant HTML Template">
    <meta name="keywords" content="pulse, restaurant, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href = "@{/css/admin.css}"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                        <tr>
                            <th><span>User</span></th>
                            <th class="text-center"><span>Role</span></th>
                            <th><span>Email</span></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:id="${user.id}" th:each="user : ${users}">
                            <form method="post">
                                <input type="hidden" th:value="${user.id}" name="id">
                                <td>
                                    <a th:href="'users/'+${user.id}" class="user-link" th:text="${user.id}"/>
                                </td>
                                <td class="text-center">
                                    <span class="label label-default" th:text="${user.role}"/>
                                </td>
                                <td>
                                    <span class="label label-default" th:text="${user.email}"/>
                                </td>
                                <td style="width: 20%;">
                                    <button  type="submit" class="table-link danger">
                                        <div class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </div>
                                    </button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>